@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

body {
	background-color: var(--ctp-mocha-base);
	color: var(--ctp-mocha-text);
	font-family: "roboto", sans-serif;
	font-size: 16px;
}

h1,
h2,
p,
ul {
	text-align: center;
}

h2 {
	padding-top: 1rem;
}

p {
	font-size: 1.4rem;
}

.buttons {
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;
}

button {
	background-color: var(--ctp-mocha-surface0);
	border: none;
	border-radius: 4px;
	color: var(--ctp-mocha-text);
	cursor: pointer;
	font-size: 1rem;
	margin: 0 10rem;
	padding: 0.7rem 2rem;
	margin-bottom: 2rem;
}

.button-header {
	padding-top: 1.5rem;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 5px;
}
