<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/main.css') }}"
		/>
		<title>CatDog! HCA-STEAM 2023 Q4</title>
	</head>
	<body>
		<div class="PageTextElements">
			<h1>Welcome to the CatDog Summoner</h1>
			<p class="devs">Here's a list of the devs for this project:</p>
			<ul>
				{{names}}
			</ul>
			<h2>Now... Lets cut to the chase</h2>
			<p class="button-header">Which one d'ya want, kid?</p>
			<div class="buttons">
				<button class="dog" onclick="window.location.href='/dog'">
					Dog
				</button>
				<button class="cat" onclick="window.location.href='/cat'">
					Cat
				</button>
			</div>
		</div>
		<img src="{{animal}}" />
	</body>
</html>
